@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

/*----Footer----*/

footer{
    min-height: 15vh;
    background-color: $color-footer;
    p{
        text-align: end;
    }
}
.pie{
    padding: 15px;
    font-size: 20px;
    @include valores-flex(center, space-evenly, null);
}
.info li::marker{
    content: "⚪";
}