@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

/* ----General----*/
body{
    @include valores-flex(null, null, column);
    min-height: 100vh;
    color: $color-letra-primario;
}
h1, h2, h4{ 
    text-decoration: underline;
}

h2{
    font-size: 40px;
}
p{
    font-size: 20px;
    margin-top: 10px;
}
::selection{
    background-color: $color-letra-primario;
    color: $color-letra-secundario;
}