@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

/*----Header----*/

header{
    @include valores-flex(center, space-around, column);
    min-height: 20vh;
    background-color: $color-header;
    h1{
        text-align: center;
        font-size: 80px;
        color: $color-letra-secundario; 
        img{
            @include valores-img(null, null, 65%, null);   
        }
    }
    nav ul{
        align-items: center;
        gap: 10px;
        li a{
            margin: 10px;
            border-radius: 10px;
            text-align: center;
        }
    }
}
.navbar-toggler{
    border: none;
    background-color: $color-main;
    &:hover{
        border: none;
        box-shadow: 5px 5px 5px $color-header;
        background-color: $color-footer;
    }   
}
.activo{
    padding: 10px;
    background-color: $color-main;
    text-shadow: 1px 1px 2px $color-header;
    color: $color-letra-primario;
}
.logo{
    animation: crecer 3s;
}

/*----Keyframes----*/

@keyframes crecer{
    from{
        opacity: 0;
        transform: scale(0.25);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}