@use '../utilities/mixins' as *;

/*----Mediaquerie----*/

@media(max-width: 520px){
    
    /*---General---*/
    
    h2, h3{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }

    /*---Header---*/
    
    header h1{
        font-size: 50px;
    }
    .nav-link{
        font-size: 15px;
    }

    /*---Main---*/

    main{
        @include valores-grid(1fr);
    }
    .productos{
        gap: 40px;
        justify-items: center;
        @include valores-grid(1fr);
    }
    fieldset{
        font-size: 15px;
        max-width: 90dvw;
    }
    .main-produc-kit{
        @include valores-grid(1fr);
    }

    /*---Footer---*/

    .pie{
        gap: 20px;
        font-size: 15px;
        @include valores-flex(null, null, column);
    }
    
}