$color-header: rgb(64, 2, 165);
$color-box-filtro: rgb(174, 128, 218);
$color-main: rgb(198, 160, 255);
$color-letra-primario: rgb(25, 25, 133);
$color-letra-secundario: aliceblue;
$color-footer: rgb(153, 94, 248);

$letra-general: Arial, Helvetica, sans-serif;