@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

/*----Modal----*/

.modal-body{
    gap: 20px;
    @include valores-grid(repeat(2, 1fr));
    .modal1{
        grid-row: span 6;    
    }
    img{
        @include valores-img(20px, null, 100%, auto);
    }
}
.modal-content{
    color: $color-letra-primario;
}